@use "Header";

.about-header {
  margin-top: 150px;
  background: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.about-header-electric,
.about-header-plumber {
  height: 945px;
}
.about-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-flex-column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
}
.about-header-moto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 616px;
  margin-right: 42px;

  h1 {
    color: Header.$secondary-font-color;
    font-family: Header.$font-family;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 130% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 21px 0;
  }

  p {
    color: Header.$secondary-font-color;
    font-family: Header.$font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin: 0;
  }

  button {
    margin-top: 25px;
    font-size: 16px;
    // background: #ef5730;
    border: none;
    color: Header.$main-font-color;
    font-family: Header.$font-family;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 15px;
    width: fit-content;
    text-transform: uppercase;
  }
}
.about-header-moto-plumber {
  button {
    background: Header.$plumber-theme-color;
  }
}
.about-header-moto-electric {
  button {
    background: Header.$electric-theme-color;
  }
}
.about-header-pic {
  img {
    height: 408px;
    width: 540px;
  }
}
@media (max-width: 2300px) {
  .about-header {
    margin-top: 105px;
  }
}
@media (max-width: 1800px) {
  .about-header-electric,
  .about-header-plumber {
    height: 800px;
  }
}
@media (max-width: 1200px) {
  .about-header-pic {
    img {
      width: 450px;
      height: 340px;
    }
  }
}

@media (max-width: 900px) {
  .about-header-electric,
  .about-header-plumber {
    height: 1000px;
  }
  .about-header-moto {
    margin: 44px 0 0 0;
    width: auto;
  }
  .about-header-pic {
    img {
      width: 100%;
      height: auto;
      margin-top: 30px;
    }
  }
}

@media (max-width: 768px) {
  .about-header-electric,
  .about-header-plumber {
    height: 910px;
  }
  .about-header-pic {
    img {
      margin-top: 15px;
    }
  }
}
@media (max-width: 650px) {
  .about-header-plumber {
    height: 850px;
  }
  .about-header-electric {
    height: 870px;
  }
}
@media (max-width: 600px) {
  .about-header-electric {
    height: 870px;
  }
  .about-header-plumber {
    height: 810px;
  }
}
@media (max-width: 550px) {
  .about-header {
    margin-top: 80px;
  }
}
@media (max-width: 527px) {
  .about-header-electric,
  .about-header-plumber {
    height: 840px;
  }
}
@media (max-width: 500px) {
  .about-header-electric,
  .about-header-plumber {
    height: 700px;
  }
  .about-header-moto {
    h1 {
      font-size: 32.5px;
      line-height: 42px;
    }
  }
}

@media (max-width: 400px) {
  .about-header-electric {
    height: 690px;
  }
  .about-header-plumber {
    height: 650px;
  }
}
@media (max-width: 356px) {
  .about-header-electric,
  .about-header-plumber {
    height: 670px;
  }
}
