@use "Header";

.menu-parent {
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.menu {
  display: flex;
  flex-direction: row;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.menu-sm {
  height: 105px;
}

.menu-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-dropdown {
  display: none;
}

.about-btn {
  color: #999;
  font-family: Header.$font-family;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px; /* 62.5% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-right: 120px;
  text-decoration: none;
}

.about-btn-electric:hover {
  color: #ef5730;
}
.about-btn-plumber:hover {
  color: #307cef;
}

@media (max-width: 900px) {
  .menu-btns {
    display: none;
  }
  .menu-dropdown {
    display: inline-block;
  }
  .menu-dropbtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      position: relative;
      width: 100%;
      height: 5px;
      border-radius: 3px;
      background-color: #323232;
      transition: all 0.3s ease-in-out;
    }
  }
  .h-meat,
  .h-bottom {
    margin-top: 8px;
  }

  .menu-content {
    display: none;
    text-align: left;
    position: absolute;
    top: 105px;
    right: 0;
    left: 0;
    height: 60rem;
    background: white;
    z-index: 3;

    a {
      color: Header.$main-font-color;
      font-family: Header.$font-family;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 65px;
      letter-spacing: 0.5px;
      text-decoration: none;
      transition: transform 1s ease-in-out;
      margin: 15px 0;
    }
  }
  .burger-a {
    margin: 0;
  }
  .burger-a:hover {
    .burger-menu-item {
      background: rgba(0, 0, 0, 0.697);
    }
  }
  .burger-a:focus {
    scale: 0.95;
  }

  #top-bun {
    transform: rotate(-45deg);
    margin-top: 10px;
  }
  #bottom-bun {
    display: none;
  }
  #meat {
    transform: rotate(45deg);
    margin-top: -5px;
  }

  .hamburger {
    margin-bottom: 12px;
    transform: scale(1.05);
  }

  .show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 105px);
  }
  .lock-scroll {
    overflow: hidden;
  }
  .burger-menu-item {
    background: #0000006d;
    height: 180px;
    display: flex;
    flex-direction: row;
    z-index: 10;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
        color: Header.$main-font-color;
        font-family: Header.$font-family;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: normal;
      }
    }
    img {
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
    .burger-forward-arrow {
      margin: 0;
      scale: 2;
    }
  }
  .menu-separator {
    width: 100%;
    height: 1px;
    background: #efedf2;
  }
  .bottom-s {
    margin-bottom: 16px;
  }

  .menu-about-us-electric {
    background-image: url("./src/images/electricians/burger-about-us-bckgr-fs8.png");
    margin-bottom: 16px;
  }
  .menu-about-us-plumber {
    background-image: url("./src/images/plumbers/burger-about-us-bckgr-fs8.png");
    margin-bottom: 16px;
  }
  .menu-request-electric {
    background-image: url("./src/images/electricians/header-bckgr-min.jpg");
  }
  .menu-request-plumber {
    background-image: url("./src/images/plumbers/burger-estimate-bckgr-fs8.png");
  }
  .menu-about-us,
  .menu-request {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
  }
}

@media (max-width: 550px) {
  .menu-parent {
    height: 80px;
  }
  .menu {
    height: 80px;
  }
  .menu-content {
    top: 80px;
  }
  .menu-dropbtn {
    width: 22px;
    height: 22px;
    div {
      height: 3px;
    }
  }
  .show {
    height: calc(100vh - 80px);
  }
  .burger-menu-item {
    height: 120px;
    border-radius: 16px;
    .burger-forward-arrow {
      scale: 1.4;
    }
    div {
      p {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }
  .menu-about-us,
  .menu-request {
    border-radius: 16px;
  }
  .h-meat,
  .h-bottom {
    margin-top: 4px;
  }
  #meat {
    margin-top: -3px;
  }
  .hamburger {
    margin-bottom: 13px;
  }
}

@media (max-width: 320px) {
  .burger-menu-item div p {
    font-size: 20px;
    line-height: 22px;
  }
}
