@use "Header";

.single-city {
  border-radius: 4.006px;
  background: #fff;
  width: 184.288px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  padding: 2px 0 2px 8px;

  img {
    width: 15px;
  }

  p {
    color: Header.$secondary-font-color;
    font-family: Header.$font-family;
    font-size: 14.022px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.031px; /* 142.857% */
    margin: 0;
    margin-left: 8px;
  }
}

.cities {
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cities-bckgr-fs8.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cities-starter {
  color: #ef5730;
  text-align: center;
  font-family: Header.$font-family;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}

.cities-serve {
  color: Header.$main-font-color;
  text-align: center;
  font-family: Header.$font-family;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 128.571% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 60px 0;
}

.city-block {
  height: 330px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

@media (max-width: 1200px) {
  .cities {
    height: 600px;
  }
}
