@use "Header";

#est-form {
  color: Header.$main-font-color;
  font-family: Header.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 600px;

  p {
    font-family: Header.$font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
    margin: 0;
    margin-bottom: 5px;
  }

  input,
  .msg-text {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    backdrop-filter: blur(7.5px);
    padding: 10px;
    font-family: Header.$font-family;
    font-size: 15px;
  }

  input:focus,
  .msg-text:focus {
    border: 1px solid #ef5730;
  }

  input[type="email"],
  input[type="text"] {
    height: 50px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .msg-text {
    height: 200px;
    margin-top: 10px;
  }
}

.red-star {
  color: #e80000;
  font-family: Header.$font-family;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  #est-form {
    width: auto;
  }
}
