@use "Header";

.expert {
  height: 798px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.expert-electric {
  background-image: url(../images/electricians/expert-bckgr-fs8.png);
}
.expert-plumber {
  background-image: url(../images/plumbers/expert-bckgr-fs8.png);
}

.expert-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 547px;
  }
}

.expert-block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 516px;
  margin-right: 47px;

  h2 {
    color: Header.$secondary-font-color;
    font-family: Header.$font-family;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 128.571% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 16px 0;
  }

  p {
    color: Header.$secondary-font-color;
    font-family: Header.$font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    margin: 0 0 30px 0;
  }

  button {
    border-radius: 4px;
    border: none;
    padding: 15px 20px;
    color: Header.$main-font-color;
    font-family: Header.$font-family;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-transform: uppercase;
    width: fit-content;
  }
}
.expert-block-text-electric {
  button {
    background: #ef5730;
  }
}
.expert-block-text-plumber {
  button {
    background: #307cef;
  }
}

@media (max-width: 1200px) {
  .expert {
    height: 750px;
  }
  .expert-block {
    justify-content: space-around;
    img {
      width: 450px;
    }
  }
  .expert-block-text {
    width: 450px;
    margin: 0 0 0 20px;
  }
}

@media (max-width: 900px) {
  .expert {
    height: 650px;
  }
  .expert-block {
    img {
      width: 400px;
    }
  }
  .expert-block-text {
    // margin: 0;

    h2 {
      font-size: 26px;
      line-height: 33.75px;
    }
  }
}
@media (max-width: 768px) {
  .expert {
    height: 900px;
  }
  .expert-block {
    flex-direction: column;
    align-items: center;
    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }
  }
  .expert-block-plumber {
    img {
      object-position: top;
    }
  }
  .expert-block-text {
    margin: 0;
    width: auto;
    h2 {
      margin-top: 32px;
    }
  }
}

@media (max-width: 520px) {
  .expert-block {
    img {
      height: auto;
    }
  }
}

@media (max-width: 450px) {
  .expert {
    height: 770px;
  }
  .expert-block img {
    height: 370px;
  }
  .expert-block-text p {
    font-weight: 300;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 375px) {
  .expert {
    height: 840px;
  }
}

@media (max-width: 375px) {
  .expert-block img {
    height: 330px;
  }
}
