.floating-request {
  position: fixed;
  width: fit-content;
  bottom: 15px;
  right: 25px;
}

.floating-request img {
  width: 70px;
  height: 70px;
}
@media (max-width: 768px) {
  .floating-request {
    bottom: 10px;
    right: 10px;
  }
}
