@use "Header";

.footer {
  display: flex;
  height: 800px;
  justify-content: center;
  background: #fff;
}

.footer-info {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  width: 466px;
}
.footer-form {
  width: 600px;
}

.footer-statement {
  color: Header.$secondary-font-color;
  font-family: Header.$font-family-2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.2px; /* 157.5% */
  margin: 36px 0;
}

.footer-email,
.footer-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 230.5px;
}

.footer-email {
  margin-bottom: 20px;

  img {
    width: 20px;
    height: 16px;
  }

  > p {
    width: 187px;
    color: rgba(17, 17, 17, 0.8);
    font-family: Header.$font-family-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 157.5% */
    margin: 0;
  }
}

.footer-address {
  img {
    width: 10.33px;
    height: 18px;
    margin-left: 4px;
  }

  > p {
    width: 187px;
    color: Header.$secondary-font-color;
    font-family: Header.$font-family-2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 157.5% */
    margin: 0;
  }
}

.footer-contact-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  > img {
    width: 93px;
  }
}

.footer-contact-info-detail {
  margin-right: 30px;
}

.footer-policies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 245px;
  margin-bottom: 30px;

  div {
    font-family: Header.$font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
  }
  .break {
    width: 1px;
  }
}
.footer-policies-electric {
  div {
    color: #ef5730;
  }
  .break {
    background-color: #ef5730;
  }
}
.footer-policies-plumber {
  div {
    color: #307cef;
  }
  .break {
    background-color: #307cef;
  }
}

.footer-copyright-lg {
  margin: 0;
  color: #626262;
  font-family: Header.$font-family;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}
.footer-copyright-sm {
  display: none;
}

@media (max-width: 1400px) {
  .footer-info {
    margin-right: 100px;
  }
}
@media (max-width: 1200px) {
  .footer-info {
    margin-right: 40px;
  }
}

@media (max-width: 900px) {
  .footer {
    height: 1150px;
    justify-content: center;
    align-items: center;
  }
  .footer-form {
    width: inherit;
  }
  .footer-info {
    margin: 0;
    // width: auto;
    width: 100%;
  }
  .footer-contact-info {
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
  }
  .footer-policies {
    align-self: center;
  }
  .footer-copyright-lg {
    display: none;
  }
  .footer-copyright-sm {
    display: block;
    margin: 32px 0 0 0;
    color: #626262;
    font-family: Header.$font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .footer-policies {
    margin-bottom: 24px;
  }
}
@media (max-width: 550px) {
  .footer {
    height: 1050px;
  }
  .footer-policies {
    align-self: auto;
    margin-bottom: 16px;
  }
  .footer-contact-info-detail {
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .footer-statement,
  .footer-email > p,
  .footer-address > p,
  .footer-policies div,
  .footer-copyright-sm {
    font-weight: 300;
  }
  .footer-copyright-sm {
    align-self: baseline;
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .footer-email,
  .footer-address {
    width: 220px;
  }
  .footer-email > p,
  .footer-address > p {
    font-size: 14px;
  }
  .footer-contact-info > img {
    width: 60px;
    height: 62.6px;
  }
}
@media (max-width: 300px) {
  .footer-email > p,
  .footer-address > p {
    font-size: 12px;
    width: 150px;
    line-height: 18px;
  }
  .footer-email,
  .footer-address {
    width: 180px;
  }
  .footer-email {
    margin-bottom: 15px;
  }
}
